@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Solway:wght@300&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@200&display=swap');



.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 35px;
    padding-top: 50px;

}

.contactform h1 {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0px;
}

.contactform form div {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}



#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;

}

#form-check input {
    width: 24px;
    margin: 3.5px;
}